---
interface Props {
	title: string;
	subtitle?: string;
	gq: number;
	jq: number;
}

const { title, subtitle, gq, jq } = Astro.props;

const ratio = (gq / jq).toFixed(2);
const improvement = (jq / gq).toFixed(1);
---

<div class="not-content">
	<h3 class="text-base font-bold mb-1">{title}</h3>
	{subtitle && <h4 class="text-sm font-normal mb-4">{subtitle}</h4>}
	<div class="flex flex-col gap-1 not-content">
		<div class="flex items-center gap-3">
			<div class="text-end min-w-6 font-bold">GQ</div>
			<div
				class="h-4 bg-accent"
				style={{
					width: `calc(30rem * ${ratio})`,
					boxShadow: "0 0 8px 0 var(--sl-color-accent)",
				}}
			>
			</div>
			<span class="text-xs">{gq}ms ({improvement}x)</span>
		</div>
		<div class="flex items-center gap-3">
			<div class="text-end min-w-6 font-bold">JQ</div>
			<div class="w-[30rem] h-4 bg-muted"></div>
			<span class="text-xs">{jq}ms</span>
		</div>
		<div></div>
	</div>
</div>
